body{
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: rgb(143, 251, 255);
}

header{
  background-color: #fda7b5;
  padding-top: 15px;
  padding-bottom: 15px;
}

header{
  border: 5px solid;
  border-color: rgb(255, 107, 107);
}

header{
  margin-right: auto;
  margin-left: auto;
}

.info h1{
  font-weight: 4000;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  text-shadow: 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 
  2px -2px 0 #ffffff, -2px -2px 0 #ffffff;
}

.gallery{
  background-color: #fda7b5;
  border: 5px solid;
  border-color: rgb(255, 107, 107);
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.gallery h1{
  font-weight: 800;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 10px;
  border-bottom: solid;
  border-width: 4px;
  border-color: rgb(255, 107, 107);
}

.kokorogallery{
  text-align: center;
}

.gallery h2{
 font-size: 30px;
 margin-top: 20px;
 margin-bottom: 4px;
}

.gallery p{
  font-size: 17px;
  border-bottom: 3px dashed rgb(255, 107, 107);
}

.reona_pfe{
text-align: center;
margin-top: 40px;
}