body{
  color: #53282d
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #9ef2ff;
}

header{
  background-color: #ffa1a1;
  padding-top: 15px;
  padding-bottom: 15px;
}

header{
  border: 5px solid;
  border-color: #ff4b5e ;
}

header{
  margin-right: auto;
  margin-left: auto;
}

.info h1{
  font-weight: 4000;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #53282d;
  text-shadow: 2px 2px 0 #ffffff, -2px 2px 0 #ffffff, 
  2px -2px 0 #ffffff, -2px -2px 0 #ffffff;
}

.hobby{
  background-color: #ffa1a1;
  border: 5px solid;
  border-color: #ff4b5e;
}

.hobby{
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.hobby h1{
  font-weight: 800;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 20px;
  color: #53282d;
}

.hobby h2{
  color: #53282d;
}

footer{
  margin-top: 30px;
  text-align: center;
}

.gallery{
  background-color: #ffa1a1;
  border: 5px solid;
  border-color: #ff4b5e;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.gallery h1{
  font-weight: 800;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 10px;
  border-bottom: solid;
  border-width: 4px;
  border-color: #ff4b5e;
  color: #53282d;
}

.kokorogallery{
  text-align: center;
}

.kokorogallery img{
  width: 45%;
  height: auto;
}

.gallery h2{
 font-size: 30px;
 margin-top: 20px;
 margin-bottom: 4px;
 color: #53282d;
}

.gallery p{
  font-size: 17px;
  border-bottom: 3px dashed #ff4b5e;
}

.reona_pfe{
text-align: center;
margin-top: 40px;
}

.reona_pfe img{
  width: 45%;
  height: auto;
}